<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <style>
       .myForm{
           display: none;
       }
    </style>
    <!-- no borrar formulario -->
    <form class="myForm" th:action="@{/ingresante/realizar-examen}" method="post" id="myForm" th:object="${ingresante}" >
        
        <input type="number" name="id" id="id" th:field="*{id}" required hidden readonly />
      

        <input type="submit" value="continuar" id="continuar"/>
    </form>
    <h1>A continuacion realizara el examen</h1>
    <h2>Advertencia solo cuenta con un intento y con un tiempo limite de 45 minutos</h2>
    <h3>Si desea realizarlo ahora haga click en si en caso de querer realizarlo mas tarde haga click en cancelar todos sus datos ya fueron almacenados solo tendra que realizar el examen</h3>
    <button><label for="continuar">Continuar</label></button>
    <button><a th:href="@{/index}">cancelar</a></button>
    

</body>

</html>