<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links para exportar a excel -->
    <script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
    <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>

</head>
<style>
    .no {
        display: none;
    }

    .si {
        display: table-row !important;

    }

    .flex {
        display: flex !important;
    }

    .paginacion {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 5px;
    }

    .paginador {

        width: 100vw;

    }

    .ancho ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5px;
        justify-content: center;
    }

    .ancho ul li {
        display: none;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 35px;
        height: 35px;
        background-color: #f3a32d;
        border-radius: 2px;
    }

    .ancho ul li:hover {
        background-color: #f39c12;
        transform: scale(1.1);
        transition: all 0.4s;
    }

    .ancho ul li span {
        color: #333;
        font-weight: bold;
    }
    .table thead{
        background-color: #717170;
        color: white;
    }
</style>

<body>

    <h1>lista de examenes</h1>
    <button id="btnExportar" class="btn btn-success">
        Exportar datos a Excel
    </button>
    <p th:text="${cantidadRegistros}" hidden id="contadorFinal"></p>


    <table id="tabla" class="table table-hover">
        <thead>
            <th scope="col" hidden>Id</th>
            <th scope="col">Mail</th>
            <th scope="col">Celular</th>
      
            <th scope="col">num doc</th>
            <th scope="col">apellido</th>
            <th scope="col">nombre</th>
            <th scope="col">fNacimiento</th>
            <th scope="col">genero</th>
            <th scope="col">nacionalidad</th>
            <th scope="col">pais</th>
            <th scope="col">provincia</th>
            <th scope="col">localidad</th>
            <th scope="col">domicilio</th>
        </thead>
        <tbody>

            <tr scope="row" th:each="in ,num: ${ingre}" th:id="dato+${num.count}"
                th:classappend="${num.count>50} ? 'no' ">
                <td th:text="${in.id}" hidden>Id</td>
                <td th:text="${in.mail}">Mail</td>
                <td th:text="${in.celu}">Celular</td>               
                <td th:text="${in.numDoc}">num doc</td>
                <td th:text="${in.apellido}">apellido</td>
                <td th:text="${in.nombre}">nombre</td>
                <td th:text="${in.fNacimiento}">fNacimiento</td>
                <td th:text="${in.genero}">genero</td>
                <td th:text="${in.nacionalidad}">nacionalidad</td>
                <td th:text="${in.pais}">pais</td>
                <td th:text="${in.provincia}">provincia</td>
                <td th:text="${in.localidadResi}">localidad</td>
                <td th:text="${in.domicilio}">domicilio</td>
            </tr>
        </tbody>
    </table>
   
    <div class="ancho">
        <ul id="pagr">

        </ul>
    </div>


    <script>

        var contador = document.getElementById("contadorFinal").innerText;
        contador = parseInt(contador)
        console.log(contador)
        console.log(typeof (contador))
        const division = Math.round(contador / 50)
        console.log(contador)

        let ul = document.getElementById("pagr");
        ul.classList.add("pagination")


        for (let index = 1; index <= (division + 1); index++) {
            const element = (index);
            let li = document.createElement("li");
            let liText = document.createElement("span");
            liText.innerText = element

            li.appendChild(liText);
            li.setAttribute("id", "indice" + (index))
            li.setAttribute("style", "cursor: pointer")
            li.setAttribute("onclick", "ver(" + (index) + ")")

            ul.appendChild(li);
        }

        function ver(num) {

            console.log((((num * 50) - 50) + 1))
            if (num == 1) {
                for (let index = 1; index < (contador + 1); index++) {
                    if (index <= 50) {
                        var elem = document.getElementById("dato" + (index))
                        elem.classList.add("si")
                    } else {
                        var elem = document.getElementById("dato" + (index))
                        elem.classList.remove("si")
                        elem.classList.add("no")
                    }

                }

                for (let index = 1; index < (division + 1); index++) {
                    if (index > (num - 5) && index < (num + 5)) {
                        let pag = document.getElementById("indice" + index)
                        pag.classList.add("flex")
                        console.log(index)
                    } else {
                        let pag = document.getElementById("indice" + index)
                        pag.classList.add("no")
                        console.log(index)
                    }

                }

            } else {

                let actual = (((num * 50) - 50) + 1)
                let posterior = num * 50;
                console.log(actual)
                for (let index = 1; index < (contador + 1); index++) {

                    if (index >= actual && index <= posterior) {
                        var elem = document.getElementById("dato" + (index))
                        elem.classList.add("si")
                    } else {
                        var elem = document.getElementById("dato" + (index))

                        elem.classList.remove("si")
                        elem.classList.add("no")
                    }

                }
                for (let index = 1; index < (division + 2); index++) {
                    if (index >= (num - 5) && index <= (num + 5)) {
                        let pag = document.getElementById("indice" + index)
                        pag.classList.add("flex")

                    } else {
                        let pag = document.getElementById("indice" + index)
                        pag.classList.remove("flex")
                        console.log(index)
                    }

                }
            }


        }
        for (let index = 1; index < (division + 1); index++) {
            if (index <= 10) {
                let pag = document.getElementById("indice" + index)
                pag.classList.add("flex")
                console.log(index)
            }

        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>


</body>

</html>